# Application Settings
ENABLE_DEV_TOKEN=false
JWT_SECRET_KEY=adivadivadivadivadivadivadivadiv
JWT_ISSUER=https://localhost:5000
JWT_AUDIENCE=feature_flags_api

# Database Settings
DB_PASSWORD=password
DB_CONNECTION_STRING=Host=db;Port=5432;Database=feature_flags_db;Username=postgres;Password=password

# Auth0 Settings (Optional - leave blank to use local JWT)
AUTH0_DOMAIN=https://dev-xyz.uk.auth0.com/
AUTH0_AUDIENCE=https://featureflags.adiv.co.uk
AUTH0_ROLE_CLAIM_TYPE=https://featureflags.adiv.co.uk/roles

# Grafana Settings
GRAFANA_ADMIN_PASSWORD=admin
